blinker==1.9.0
click==8.1.8
dnspython==2.7.0
email-validator==2.1.0.post1
Flask==3.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.2.2
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
python-dotenv==1.0.0
SQLAlchemy==2.0.25
typing_extensions==4.13.2
Werkzeug==3.0.1
WTForms==3.1.1
