files:
  "/etc/nginx/conf.d/https_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 80;
          # return 301 https://$host$request_uri;  # Commented out for now
      }

container_commands:
  01_reload_nginx:
    command: "systemctl reload nginx || systemctl restart nginx" 