option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
    FLASK_ENV: "production"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_pip_upgrade:
    command: |
      source /var/app/venv/*/bin/activate
      pip install --upgrade pip
  02_install_requirements:
    command: |
      source /var/app/venv/*/bin/activate
      pip install -r requirements.txt
  03_create_uploads:
    command: |
      mkdir -p /var/app/current/uploads/teeth
      chmod 755 /var/app/current/uploads
      chmod 755 /var/app/current/uploads/teeth
