option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    PYTHONPATH: /var/app/current
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    EC2KeyName: aws-eb
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
